body{
	background-image: url(/images/top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.col-sm-12{
	position: fixed;
	top: 0;
	margin-top: 0px;
	padding:0px;
	background-image: url(/images/top.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
    background-size: 100%;
}
.footer{
	position:absolute;
	bottom: 0;
	background: black;
 	color: white;
}
.col-sm-8{
	font-size: 20px;
	text-indent: 50px;
}
h1{
	text-align:center;
	color: yellow;
	background: black;
}
.col-sm-4{
	background:white;
}
