body{
	background-image: url(/images/top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
}
#menu {
    width: 100%;
    position: fixed;
    background-color: rgba(40,40,40,0.2);
    z-index: 1000; /* Z-Index for making this div always on top */
}

#content {
    width: 960px; margin:0 auto; position: relative; background: white;
}
.col-sm-12{
	position: relative;
	top: 0;
	margin-top: 0px;
	padding:0px;
	background-image: url(/images/top.jpg);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
    background-size: 100%;
}

.col-sm-8 .col-sm-4 .col-sm-6 {
	text-indent: 50px;
}

.col-sm-4{
	background:white;
}

.active{
    z-index:99;
}

#slideshow {
  	height: 700px;
}

#slideshow IMG {
	width: 100%;
	height: 800px;
	position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

section {
   min-height: 75vh;
}

h1, h2{
   text-align: center;
}

a.download {
    color: #fff !important;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none !important;
    background: #2980b9;
    padding: 20px 15px;
    border-bottom: 4px solid #6ab8ea;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    margin-left: 0.5em;
}

/*-- footer --*/
.footer{
	background:#333a40;
	padding: 3em 0;
}
.footer-grids {
	border-bottom: 1px solid #434F59;
	padding-bottom: 5em;
}
.footer-grids-info h5 {
	margin: 0;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}
.footer-grids-info ul {
	margin: 0;
	width:300px;
	padding:2em 0 0 0;
}
.footer-grids-info ul li{
	display:block;
	padding-bottom: 5px;
	color: #8f8f8f;
}
.footer-grids-info ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	color: #8f8f8f;
	position: relative;
}
.footer-grids-info ul li a:hover{
	color:#CFC10B;
	transition:.5s all;
}
.footer-grids-info form {
	width: 100%;
	text-align: right
}
.footer-grids-info  input[type="text"] {
	display: inline-block;
	border: none;
	box-shadow: 1px 1px rgb(139, 135, 135);
	margin: 2em 0 1em 0;
	outline: none;
	font-size: 15px;
	color: #999999;
	font-weight: 500;
	width: 100%;
	padding: .8em 1em;
	border-radius: 2px;
}
.footer-grids-info  input[type="email"] {
	display: inline-block;
	border: none;
	box-shadow: 1px 1px rgb(139, 135, 135);
	margin: 0;
	outline: none;
	font-size: 15px;
	color: #999999;
	font-weight: 500;
	width: 100%;
	padding: .8em 1em;
	border-radius: 2px;
}
.footer-grids-info  input[type="submit"] {
	background: #4d7ea8;
	padding: .6em 0;
	width: 33%;
	border: none;
	margin-top: 1.5em;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	outline: none;
	border-radius: 2px;
}
.footer-grids-info input[type="submit"]:hover{
	color: #fff;
	background:#CFC10B;
	transition: .5s all;
	outline: none;
}
.footer-grids-info p {
	color: #8f8f8f;
	margin: 2em 0 0;
	font-size: 15px;
	line-height: 1.7;
}
.copy-right {
	padding-top: 2em;
	text-align: center;
}
.copy-right p {
	color: #b0b0b0;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
}
.copy-right p a{
	color: #b0b0b0;
	font-size: 15px;
	font-weight: 500;
	margin-left: 3px;
	text-decoration:none;
}
.copy-right p a:hover{
	transition: .5s all;
	color:#CFC10B;
}

#resume{
	min-height: 50vh;
}